In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: numpy>=1.17.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import random

In [2]:
data = np.arange(5)
s1 = pd.Series (data, dtype=float, name='series from ndarray')
s1

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
Name: series from ndarray, dtype: float64

In [3]:
s2 = pd.Series({'a':1, 'b':2}, name = 'series from dict')
s2

a    1
b    2
Name: series from dict, dtype: int64

In [4]:
s3 = pd.Series(10 , name= 'series from scalar values')
s3

0    10
Name: series from scalar values, dtype: int64

In [9]:
type(s1)
type(s2)
type(s3)

pandas.core.series.Series

# Data Frame Creation

In [12]:
data1 = {'name':['ugyen','karma','Tashi'], 'age':[20,30,40], 'village':['a','b,','c']}
df1 = pd.DataFrame(data1)
df1

    name  age village
0  ugyen   20       a
1  karma   30      b,
2  Tashi   40       c

In [11]:
type(df1)

pandas.core.frame.DataFrame

In [ ]:
#creating dataframe from dictionaries

In [20]:
data2 = {'col1':pd.Series(np.random.random(10)), 'col2' : pd.Series(np.random.random(20))}
df2 = pd.DataFrame(data2)
df2
type(data2)

dict

# Checkpoint question

In [23]:
input = {'Module':['APC308','CAE203','APC203'], 'Marks':[75.0,80.0,84.5]}
dff = pd.DataFrame(input)
dff
type(dff)

pandas.core.frame.DataFrame

# File Conversion to different format using read_* and to_*

In [25]:
iris = pd.read_csv('iris.csv')
iris

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

# Converting csv file to xlsx file

In [26]:
iris.to_excel('iris.xlsx', sheet_name = 'Iris Species')

# Checkpoints

In [ ]:
#creating non-empty cell file